[run]
branch = True
source =
    app
omit =
    tests/*
    migrations/*

[report]
skip_empty = True
show_missing = True
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError
